.header{
	/* display: flex; */
}
.navbar-default{
	background-color: #fff;
	border-color: #fff;
}
.btn-default{
	border: 0px;
}
.btn{
	padding: 0;
}
.navbar-brand>img{
	width: 100%;
	margin-top: -10px;
}
.navbar-nav{
	font-size: 18px;
	margin-top: 5px;
}
.banner{
	margin-top: 57px;
}
.banner .item img{
	/* width: 100%; */
	margin: 0 auto;
}
.item1{
	background-color: #233442;
}
.item2{
	background-color: #f4e3da;
}
.item3{
	background-color: #df2b2e;
}

.reason .text{
	text-align: center;
}
.reason .text h2{
	color: #0059b2;
	font-size: 20px;
}
.reason .details{
	display: inline-block;
	vertical-align: middle;
	line-height: 24px;
	margin-left: 10px;
}
.reason .pic1,.reason .pic2,.reason .pic3,.reason .pic4{
	text-align: center;
	margin-top: 18px;
}

.study{
	margin-top: 20px;
	width: 100%;
	background-color: #eee;
}
.study .row{
	padding-top: 30px;
	padding-bottom: 30px;
}
.study .img1{
	text-align: center;
}
.study .study-text{
	display: inline-block;
	text-align: center;
	line-height: 40px;
	margin-top: 80px;
}
.manage .row{
	padding-top: 30px;
	padding-bottom: 30px;
}
.manage .img2{
	text-align: center;
}
.manage .manage-text{
	display: inline-block;
	text-align: center;
	line-height: 40px;
	margin-top: 40px;
}
.foot{
	width: 100%;
	background-color: #666;
	text-align: center;
	line-height: 20px;
	color: #fff;
}
.foot p:first-of-type{
	margin-top: 20px;
}